A
{
	color : #330000;
	background-color : #FFFFCC;
}			

A:Visited
{
	color : #330000;
	background-color : #FFFFCC;
}			

A:Hover, A.external:Hover
{
	color : #FFFFCC;
	background-color : #666633;
}			

A.external
{
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}

h2
{
	margin-top: 0;
}

img
{
	border : 0;
}

body
{
	font-family : Verdana,sans-serif;
	font-size : 0.9em;
	margin: 0px;
	padding: 0px;
	background : #CCCC99 url(pageshadow.png) repeat-y;
	color : #330000;
	background-position: center center;
	_border-left: #BEBE8F 1px solid; /* IE hack */
}

#page
{
	padding : 0px 0px 0px 0px;
	margin: auto;
	width: 650px;
}

#header
{
	background : url(header.jpg) left top no-repeat;
	padding: 30px 40px 0px 0px;
	margin: 0px;
	height: 135px;
	text-align: right;
}

#title
{
	font-size : 70px;
	font-weight: bold;
}

#tagline
{
	margin-top: -8px;
	font-size : 22px;
	font-weight: bold;
}

#navigation
{
	float: left;
	width: 130px;
}

#navigation ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#navigation a
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 0.9em;
	color: #FFFFCC;
	display: block;
	padding: 3px 0px 4px 6px;
	margin: 0px;
	background-color: #999966;
	border-bottom: #FFFFCC 1px solid;
	text-decoration: none;
}

#navigation a:hover
{
	color: #FFFFCC;
	background : #666633 url(menuarrows_hover.png) right center no-repeat;
}

#navigation .selected
{
	color: #666633;
	background : #FFFFCC url(menuarrows_selected.png) right center no-repeat;
}

#content
{
	float: right;
	width: 475px;
	padding: 0px 20px 0px 0px;
	margin: 0px;
}

#content li
{
	margin: 17px 0px 0px 0px;
}

#content ul
{
	padding: 0px 0px 0px 30px;
	margin: 0px;
}

#footer
{
	clear: both;
}

.fileformats
{
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px 10px;
	border: 1px solid #330000;
	background-color: #ffffff;
	color : #330000;
}
