A
{
	color : #330000;
}			

A:Visited
{
	color : #330000;
}			

A:Hover, A.external:Hover
{
	color : #cc0000;
	background-color : #f0f000;
}			

A.external
{
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}

img
{
	border : 0;
}

body
{
	font-family : Verdana,sans-serif;
	font-size : 10pt;
	margin: 0px;
	padding: 0px;
	background : #CCCC99 url(pageshadow.png) repeat-y;
	background-position: center center;
}

#page
{
	padding : 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	clear: all;
}

#header
{
	background : url(images/logo.png) no-repeat;
	padding: 10px;
	margin: 0px;
	height: 140px;
	text-align: right;
}

#title
{
	font-size : 5em;
}

#tagline
{
	font-size : 1.5em;
	font-stretch: extra-expanded;
}

#navigation
{
	float: left;
	width: 130px;
}

#navigation ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

#navigation a
{
	font-weight:bold;
	color: #FFFFCC;
	display: block;
	padding: 4px 6px;
	margin: 0px;
	background-color: #999966;
	border-bottom: #FFFFCC 1px solid;
	text-decoration: none;
}

#navigation a:hover
{
	background-color: #666633;
	color: #FFFFCC;
}

#navigation .selected
{
	color: #666633;
	background-color: #FFFFCC;
}

#content
{
	float: right;
	width: 480px;
	padding: 10px;
	margin: 0px;
}

#footer
{
	clear: both;
}

.fileformats
{
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px 10px;
	border: 1px solid #330000;
	background-color: #ffffff;
}
