#define WIN32_LEAN_AND_MEAN
#include <windows.h>

#define POSTERAZOR_ICON                 102

POSTERAZOR_ICON         ICON                    "PosteRazor.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,4,1,0
 PRODUCTVERSION 1,4,1,0
 FILEFLAGSMASK 0x0L
 FILEFLAGS VOS__WINDOWS32
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "00000000"
        BEGIN
            VALUE "Comments", "PosteRazor 1.4.1, Copyright 2005-2007 Alessandro Portale, GNU General Public License"
            VALUE "CompanyName", "Alessandro Portale www.casaportale.de"
            VALUE "FileDescription", "PosteRazor"
            VALUE "FileVersion", "1.4.1"
            VALUE "LegalCopyright", "Copyright (C) 2005-2007 Alessandro Portale"
            VALUE "LegalTrademarks", "Alessandro Portale"
            VALUE "OriginalFilename", "PosteRazor.exe"
            VALUE "ProductName", "PosteRazor"
            VALUE "ProductVersion", "1.4.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
